<section id="loginSect" style="display:none">
  <div class="col-md-offset-1 col-md-10">
    <div id="messages" style="display:none;width:100%"></div>
  </div>
  <div class="col-md-offset-6 col-md-6 col-sm-12" id="loginSect">
    <form class="form-inline" id="loginForm" name="loginForm" action="http://localhost:8083/auth/login" method="POST">
      <fieldset>
        <input class="form-control input-lg" type="text" id="username" name="username" placeholder="Username" required/>
        <input class="form-control input-lg" type="password" id="password" name="password" placeholder="Password" required/>
        <!--input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" id="redirect" name="redirect" value="{{context}}/index.html" /-->
        <input type="button" id="login" on-click="login()" value="Login" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
  <div id="resetSect" class="col-md-offset-6 col-md-6 col-sm-12" style="display:none">
    <form id="resetForm" class="form-inline" name="resetForm" action="/reset" method="POST">
      <fieldset>
        <input class="form-control input-lg" id="email" name="email" placeholder="Registered email address" required/>
        <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" id="redirect" name="redirect" value="index.html" />
        <input class="btn" type="button" id="reset" on-click="reset()" value="Reset Password"/>
      </fieldset>
    </form>
  </div>
  <div class="pull-right" style="margin-right:20px">
    <a href="#" on-click="showReset()">Forgot your password?</a>
    <a href="http://trakeo.com/register/">Or click here to register a new account</a>
  </div>
</section>
